/secret.php
/secret.json
/sticky.json
/index.php.bak

# Keep directories but ignore content
/upload/*
!/upload/.gitkeep
/thumbs/*
!/thumbs/.gitkeep

# Only track the default blog post
/blog/cate_*/0.59375400-1167620739.2007-01-01
/blog/cate_*/*

# Local data backups
/backups/
